#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Build architecture-independent files here.
# creating also docs package without examples files. See /debian/*.docs file
binary-indep: easy-backup-endpoint easy-backup-storage

# creating j2ee package . See /debian/*j2ee.* files
# note the -p$@ to use target name package files in /debian as parameters
# this option defines that a given rule will act only at the specified package
# Caution: the -i option is for rule acting on ALL architecture INdependent 
# packages at this WHOLE file, not only at where it is written.

easy-backup-endpoint easy-backup-storage:
	dh_clean -p$@
	dh_testdir
	dh_testroot
	dh_installdirs  -p$@
	dh_installchangelogs  -p$@
	dh_installdocs  -p$@
#	dh_installexamples -p$@
# using dh_installdirs and dh_install for this task
# note the absence of leading "/"
	dh_install -i -p$@
#	dh_installmenu -i
	dh_installdebconf -i -p$@
#	dh_installlogrotate -i
#	dh_installemacsen -i
#	dh_installpam -i
#	dh_installmime -i
#	dh_python -i
#	dh_installinit -i
	dh_installcron -p$@
#	dh_installinfo -i
	dh_installman  -p$@
	dh_link  -p$@
	dh_strip  -p$@
	dh_compress  -p$@
	dh_fixperms  -p$@
#	dh_perl -i
	dh_installdeb -p$@
	dh_gencontrol  -p$@
	dh_md5sums  -p$@
	dh_builddeb  -p$@

binary: binary-indep
PHONY: build clean binary-indep binary
